<h1>Categories</h1>
<div class="card-group">
  <% @categories.each do |category| %>
    <%= render partial: "categories/category_card", locals: {category: category} %>
  <% end %>
</div>
<hr/>
<h1>Products</h1>
<%= paginate @products %>
<div class="row">
  <% @products.each do |product| %>
    <div class="col mt-2 mb-2">
      <%= render partial: "products/product_card", locals: {product: product} %>
    </div>
  <% end %>
</div>
<%= paginate @products %>
