<% breadcrumb :current_customer if current_customer.present? %>
<h1>Profile: <%= current_customer.name if current_customer.present?%></h1>

<p><%= link_to "Addresses", addresses_path %></p>
<p><%= link_to "Orders", orders_path %></p>
<p><%= link_to "Sign Out", destroy_customer_session_path, method: "delete" %></p>
