<form class="form-inline my-2 my-lg-0 mr-2 ml-2" action="#" method="get">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search" aria-label="Search" id="search_term" name="search_term">
    <select class="custom-select" id="search_type" name="search_type">
      <option selected value="0">All Categories</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <div class="input-group-append">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
  </div>
</form>